@import "tailwindcss";

body {
  background-color: #030712;
  color: #f9fafb;
}

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #111827; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 2px; }

.mono { font-family: 'Courier New', monospace; }
.bid  { color: #22c55e; }
.ask  { color: #ef4444; }